
/*code applied to whole webshop*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #D4F0FF;
    margin-bottom: 60px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #00A6FF;
    
    
}

    .flex-container > div {
        background-color: black;
        margin: 10px;
        text-align: center;
        border: 1px solid black;
        border-radius: 25px;
        padding:0px;
    }

.flexProducts {
    display: flex;
    flex-wrap: nowrap;
    background-color: #00A6FF;
}

    .flexProducts > div {
        background-color: black;
        margin: 10px;
        text-align: center;
        border: 1px solid black;
        border-radius: 25px;
        padding: 0px;
    }

.navitem {
    display: inline;
}

.nav-itemText {
    color: white !important;
    font-family: bold, Impact;
    font-size: 18px !important;
    align-content: center;
}

.nav-link {
    display: inline;
}


.box-shadow {
    background: #00A6FF !important;
   
}

.container-fluid {
    background-color: #00A6FF;
    border: 1px solid black;
}

div.container-fluid {
    white-space: normal;
    word-break: break-all;
    line-height:60px;
}

.nav-shoppingCart {
    position: absolute;
    right: 30px;
    top: 15px;
}

    .btn-primary {
    color: #000000;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 300 %;
    background-color: #00A6FF;
    border: 1px solid black;
}
/*
code applied to log-in page*/

#logo {
    width: 50%;
    margin-top: 1%;
    margin-bottom: -1%;
    position:center;
    top:10 px;
}

.textbox {
    width: 30%;
    border-radius: 25px;
    background-color: #00A6FF;
}

.buttonLogIn {
    background-color: white;
    color: #033483;
    border: 3px solid #033483;
    font-weight: bold;
}

    .buttonLogIn:hover {
        background-color: #033483;
        border: 3px solid #033483;
    }

.buttonLogIn_text {
}

/*.buttonGoBack {
    background-color: #000000;
}

.buttonGoBack_text{
    color:#ffffff*/
/*}*/

/*
code applied to sign-up page*/

.buttonSignIn {
    background-color: white;
    color: #033483;
    border: 3px solid #033483;
    font-weight: bold;
}

.buttonSignIn:hover {
    background-color: #033483;
    border: 3px solid #033483;

}

.buttonSignIn_text {
}

.formInputBar {
    width: 210px;
    margin-right: 20px;
    margin-top: 10px;
}

.formInputName {
    font-family: Bold, Verdana;
    margin-bottom: auto;
    font-size: 12px;
}

.btn.btn-default {
    background-color: white;
    color: #033483;
    border: 3px solid #033483;
    font-weight: bold;
}

.pageBorder {
    border: 2 px solid black;
    border-radius: 30 px;
    background-color: white;
}
